
/*$('.carousel').carousel({
  interval: 500
})*/
h4 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 2px 3px grey;
    color: white;
}
h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 2px 3px grey;
    color: brown;
}
p {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: black;
}
.button {
    background-color: burlywood;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 40px;
}
label {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 1px grey;
    color: brown;
    font-size: 25px;
}
input[type=text] {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: transparent;
    margin: 25px;
}
.page-header{
height: 450px;
}
.carousel{
    height: 450px;
    interval: 500;
}
.headerNew{
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 2px 3px grey;
    color: brown;
    font-size: 20px;
}
#nav-text{
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 2px 3px grey;
    color: white;
    font-size: 20px;
}
#sqname{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: transparent;
    margin: 25px;
}