{{#partial "content"}}
    <h1>Register your Endangered animal here!! </h1>
    <form action="/EndangeredAnimal/new" method="post">
        <div class="form-group">
            <label for="AnimalName"  >Animal's Name</label>
            <input type="text" class="form-control" id="AnimalName" name="AnimalName" placeholder="Type here...">
        </div>
        <div class="form-group">
            <label for="NewTime">Timestamp</label>
            <input type="text" class="form-control" id="NewTime" name="NewTime" placeholder="Type here...">
        </div>
        <div class="form-group">
            <label for="Age">Age</label>
            <select class="form-control" name="Age" id="Age" class="custom-select" >
                <option selected>Choose Age here..</option>
                <option value="NEWBORN">Newborn</option>
                <option value="YOUNG">Young</option>
                <option value="ADULT">Adult</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Health">Health Status</label>
            <select class="form-control" name="Health" id="Health" class="custom-select" >
                <option selected>Choose Health status here..</option>
                <option value="HEALTHY">Healthy</option>
                <option value="ILL">Ill</option>
                <option value="OKAY">Okay</option>
            </select>
        </div>
        <button type="submit" class="btn btn-danger" >Submit Animal</button>

    </form>

{{/partial}}
{{> layout.hbs}}