{{#partial "content"}}
    <h1>Register your Normal animal here!! </h1>
    <form action="/NormalAnimal/new" method="post">
        <div class="form-group">
            <label for="hname"  >Animal's Name</label>
            <input type="text" class="form-control" id="NormalAnimalName" name="NormalAnimalName" placeholder="Type here...">
        </div>>
        <div class="form-group">
            <label for="cname">Time</label>
            <input type="datetime-local" class="form-control" id="NormalAnimalTime" name="NormalAnimalTime" placeholder="Type here...">
        </div>
        <button type="submit" class="btn btn-danger" >Submit Animal</button>
    </form>

{{/partial}}
{{> layout.hbs}}